body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    background-color: #f3f3f3;
    color: #1e1e1e;
    height: 100vh;
}

.sidebar {
    width: 60px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.sidebar button {
    background: none;
    border: none;
    color: #4d4d4d;
    font-size: 20px;
    margin: 15px 0;
    cursor: pointer;
    transition: color 0.3s;
}

.sidebar button:hover {
    color: #000000;
}

.sidebar button img {
    filter: invert(0.2);
    transition: filter 0.3s;
}

.sidebar button:hover img {
    filter: invert(0);
}

.bottom-button {
    margin-top: auto;
    margin-bottom: 10px;
}

.content {
    flex-grow: 1;
    padding: 40px;
}

.setting-group {
    margin-bottom: 20px;
    color: #333333;
}

.setting-group label {
    font-size: 16px;
}

#theme-select {
    padding: 6px 12px;
    background-color: #ffffff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    accent-color: #0078d4;
}

.settings-divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 30px 0 20px;
}

.section-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
    color: #333333;
}

.section-icon {
    width: 20px;
    height: 20px;
    filter: invert(0.2);
}

.section-title {
    font-size: 18px;
    font-weight: bold;
}

#custom-css-input {
    width: 100%;
    min-height: 80px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #000000;
    resize: vertical;
    font-family: monospace;
}
